@media (max-width: 600px){
	.cabecalho{
		margin-left: 5px;
		font-size: 15px;
		font-weight: bold;
		color: #FFD000;
			
			
	}
	.cabecalho span{
		color: black;
		
	}
	nav{
		width: 20%;
		
	}
	
	nav ul{
		display: flex;
		justify-content: end;
		margin-right: 5%;
		
	}
	nav li{
		padding: 5px;
		
	}
	
	nav a{
		text-decoration: none;
		font-size: 30px;
		color: rgb(3, 3, 3);
		transition: all 0.5s;
	
	}
	body{
		background-image: linear-gradient( 150deg, #cf0b68, #0a42d1) ;
		background-repeat: no-repeat;
	}

	img{
		height: auto;
		width: 300px;
		
	}



}